<footer class="bg-slate-950 py-8">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex flex-col md:flex-row items-center justify-between">

      <div class="text-white text-lg font-bold font-['Pacifico'] mb-4 md:mb-0">
       <a href="/"> Abhinav Web Studio</a>
      </div>

      <div class="text-gray-400 text-sm flex items-center space-x-4">
        <p>© 2025 Abhinav Web Studio. All rights reserved.</p>
        <a href="/privacy-policy" class="hover:text-white">Privacy Policy</a>
      </div>
      
    </div>
  </div>
</footer>
