<footer class="bg-slate-950 py-8">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="text-white text-lg font-bold font-['Pacifico'] mb-4 md:mb-0">
        <a href="/"> Abhinav Web Studio</a>
      </div>

      <div
        class="text-gray-400 text-sm text-center flex flex-col items-center space-y-2 md:flex-row md:space-y-0 md:space-x-4 md:justify-center">
        <p>© 2025 Abhinav Web Studio. All rights reserved.</p>
        <a href="/privacy-policy" class="hover:text-primary">Privacy Policy</a>
        <a href="/terms" class="hover:text-primary">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
